@charset "UTF-8";
/*sub-index.scss*/
/* line 5, ../sass/index.scss */
html body {
  font-family: "Iowan Old Style",'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', YuMincho, '游明朝', serif;
  margin: 0 auto;
  position: relative;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  min-width: 1280px;
  -webkit-text-size-adjust: 100%;
}
/* line 19, ../sass/index.scss */
html body nav {
  background-color: #FFF;
  height: 100%;
  width: 200px;
  position: fixed;
}
/* line 26, ../sass/index.scss */
html body nav #title {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 20px;
}
/* line 31, ../sass/index.scss */
html body nav #title a {
  text-decoration: none;
  color: #000;
}
/* line 37, ../sass/index.scss */
html body nav ul {
  font-size: 12px;
  margin-left: -20px;
  margin-top: 17px;
  list-style-type: none;
}
/* line 43, ../sass/index.scss */
html body nav ul a {
  text-decoration: none;
  color: #a3a5a9;
}
/* line 47, ../sass/index.scss */
html body nav ul a:hover {
  text-decoration: none;
  color: #000;
}
/* line 51, ../sass/index.scss */
html body nav ul a:visited {
  text-decoration: none;
}
/* line 54, ../sass/index.scss */
html body nav ul li {
  margin-bottom: 5px;
}
/* line 60, ../sass/index.scss */
html body nav ul li.index {
  position: relative;
  width: 20%;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 74, ../sass/index.scss */
html body nav ul li.index a {
  display: block;
  margin: 0;
  padding: 15px 0 5px;
  background: #FFF;
  color: #000;
  text-decoration: none;
}
/* line 85, ../sass/index.scss */
html body nav ul li.index ul {
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
/* line 94, ../sass/index.scss */
html body nav ul li.index ul li {
  width: 120%;
}
/* line 98, ../sass/index.scss */
html body nav ul li.index ul li a {
  padding: 13px 15px;
  background: #FFF;
  text-align: left;
}
/* line 115, ../sass/index.scss */
html body nav ul li.index ul li:hover > a {
  background: #F2F2F2;
  opacity: 1.0;
}
/* line 126, ../sass/index.scss */
html body nav ul#fade-in2 li ul {
  opacity: 0;
  top: 10%;
  visibility: hidden;
  transition: .5s;
}
/* line 133, ../sass/index.scss */
html body nav ul#fade-in2 li:hover ul {
  top: 80%;
  visibility: visible;
  opacity: 1;
}
/* line 140, ../sass/index.scss */
html body nav .lang-switch {
  cursor: pointer;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 32px;
  margin-bottom: 12px;
  color: #a3a5a9;
}
/* line 149, ../sass/index.scss */
html body nav .lang-switch #ja {
  color: #a3a5a9;
}
/* line 155, ../sass/index.scss */
html body nav .lang-switch #en {
  color: #000;
  margin-right: 9px;
}
/* line 163, ../sass/index.scss */
html body nav .slash {
  float: left;
  color: #a3a5a9;
  font-size: 12px;
  margin-left: 40px;
  margin-top: -28px;
}
/* line 173, ../sass/index.scss */
html body nav .switch-icon {
  padding-left: 20px;
  margin-top: -10px;
}
/* line 179, ../sass/index.scss */
html body nav .switch-icon img {
  margin-right: 2px;
}
/* line 182, ../sass/index.scss */
html body nav .switch-icon a {
  text-decoration: none;
}
@media all and (-ms-high-contrast: none) {
  /* line 189, ../sass/index.scss */
  html body nav *::-ms-backdrop, html body nav .switch-icon {
    margin-top: 5px;
  }
}
@media all and (-ms-high-contrast: none) {
  /* line 196, ../sass/index.scss */
  html body nav .switch-icon {
    margin-top: 5px;
  }
}
/* line 203, ../sass/index.scss */
html body nav .xd {
  margin-left: 20px;
  margin-top: 72px;
  font-size: 10px;
  font-family: "Iowan Old Style",'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', YuMincho, '游明朝', serif;
}
/* line 208, ../sass/index.scss */
html body nav .xd .strong {
  font-weight: bold;
}
/* line 211, ../sass/index.scss */
html body nav .xd a {
  text-decoration: none;
  color: #000;
}
/* line 217, ../sass/index.scss */
html body nav footer {
  font-size: 10px;
  margin-left: 30px;
  position: absolute;
  margin-bottom: 10px;
  bottom: 0;
}
/* line 227, ../sass/index.scss */
html body #wrap {
  width: 1080px;
  margin-left: 160px;
  float: left;
  margin-top: 3px;
}
/* line 236, ../sass/index.scss */
html body #wrap section ul li {
  font-size: 13px;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  list-style: none;
}
/* line 242, ../sass/index.scss */
html body #wrap section ul li a {
  font-size: 12px;
  color: #a3a5a9;
  text-decoration: none;
}
/* line 246, ../sass/index.scss */
html body #wrap section ul li a p {
  margin-top: -1px;
  margin-bottom: 5px;
}
/* line 251, ../sass/index.scss */
html body #wrap section ul li a p.yoko {
  float: right;
  font-family: "Iowan Old Style",'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', YuMincho, '游明朝', serif;
  font-size: 13px;
  margin-top: -21px;
}
/* line 259, ../sass/index.scss */
html body #wrap section ul li a:hover {
  color: #000;
}
/* line 261, ../sass/index.scss */
html body #wrap section ul li a:hover img {
  opacity: 0.5;
}
