/*index.scss*/

html{

	body{
		font-family : "Iowan Old Style", 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman',YuMincho, '游明朝', serif;
		margin: 0 auto;
		position: relative;
		background-color: #FFF;
		width: 100%;
		height: 100%;
		max-width: 1280px;
		min-width: 1280px;
		-webkit-text-size-adjust: 100%;



		header{
		}

		nav{
			background-color: #FFF;
			height: 100%;
			width: 200px;
			position: fixed;
			

			#title{
				font-size: 18px;
				//font-weight: bold;
				margin-top: 15px;
				margin-left: 20px;
				a{
					text-decoration: none;
					color: #000;
				}
			}

			ul{
				font-size: 12px;
				margin-left: -20px;
				margin-top: 17px;
				list-style-type: none;

				a{
					text-decoration: none;
					color: #a3a5a9;
				}
				a:hover{
					text-decoration: none;
					color: #000;
				}
				a:visited{
					text-decoration: none;
				}
				li{
					margin-bottom: 5px;
				}


				//indexの部分だけ変更
				li.index{
					//*zoom: 1;
					//list-style-type: none;
					//width: 300px;
					//margin: 5px auto 6px;
					//padding: 0;

					position: relative;
					width: 20%;
					//float: left;
					margin: 0;
					padding: 0;
					text-align: center;

					a{
						  display: block;
						  margin: 0;
						  padding: 15px 0 5px;
						  background: #FFF;
						  color: #000;
						 // font-size: 14px;
						 // line-height: 1;
						  text-decoration: none;

					}
					ul{
						list-style: none;
						position: absolute;
						z-index: 9999;
						top: 100%;
						left: 0;
						margin: 0;
						padding: 0;

						li{
							width: 120%;


							a{
								padding: 13px 15px;
								//border-top: 1px solid #7c8c0e;
								background: #FFF;
								text-align: left;



							}

							a:hover{
								//background: #616d0b;

							}
						}


						li:hover > a{
							background: #F2F2F2;
							opacity: 1.0;

						}

					}
				}

			} //ul

			ul#fade-in2 li ul{
  				opacity: 0;
				top: 10%;
				visibility: hidden;
				transition: .5s;

			}
			ul#fade-in2 li:hover ul{
  				 top: 80%;
  				 visibility: visible;
  				 opacity: 1;
			}


			.lang-switch{
				cursor: pointer;
				font-size: 12px;
				margin-left: 20px;
				margin-top: 32px;
				margin-bottom: 12px;
				color: #a3a5a9;

				
				#ja{
					//cursor: pointer;
					color: #a3a5a9;
				}

				
				#en{
					color: #000;
					//cursor: pointer;
					margin-right: 9px;

				}
			}

			.slash{
					float: left;
					color: #a3a5a9;
					font-size: 12px;
					margin-left: 40px;
					margin-top: -28px;

				} 


			.switch-icon{
				margin-left: 20px;
				margin-top: -10px;
				img{
					margin-right: 2px;
				}
				a{
					text-decoration: none;
				}

			}

			@media all and (-ms-high-contrast:none){
					*::-ms-backdrop, .switch-icon {
					margin-top: 5px;
				}
			}


			@media all and (-ms-high-contrast:none){
					.switch-icon {
						margin-top: 5px;
				}
			}



			.xd{
				margin-left: 20px;
				margin-top: 72px;
				font-size: 10px;
				font-family : "Iowan Old Style",'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', YuMincho, '游明朝', serif;
				.strong{
					font-weight: bold;
				}
				a{
					text-decoration: none;
					color: #000;
				}
			}

			footer{
					font-size: 10px;
					margin-left: 30px;
					position: absolute;
					margin-bottom: 10px;
					bottom: 0;
			}
		}//nav

		#wrap{
			width: 1080px;
			margin-left: 200px;

			img.lazy{

				width: 1080px;
				height: 718px;
			}

			a{
				text-decoration: none;
				color: #FFF;
			}

			section#zero-three-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(70%);
					filter:brightness(70%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 70px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//zero-divsion


			section#zero-one-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 70px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//zero-divsion


			section#zero-two-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 80px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//zero-divsion


			section#zero-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(90%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 20px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//zero-divsion


			section#first-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 50px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//first-divsion

			
			section#second-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 40px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//zero-divsion


//third
		
			section#third-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}

				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 80px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//first-divsion

		

//forth

		
			section#forth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 80px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//first-divsion



			section#fifth-division{
				height: 719px;			
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 80px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//fifth





			section#sixth-division{
				height: 719px;
				.image-container{

					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 80px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//first-divsion

		
			section#seventh-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 70px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//seventh



//eighth
			section#eighth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(80%);
					filter:brightness(80%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 45px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//eighth-division

		
			section#nineth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(60%);
					filter:brightness(60%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}
					.top02-image{
						margin-left: -40px;

						img{
							margin-top: -4px;
						}
						ul{
							list-style-type: none;
							li{
								float: left;
							}
							li:nth-of-type(1){
								padding-right: 1px;
							}

							li:nth-of-type(2){
								padding-right: 1px;
								//margin-left: -1px;
							}
							li:nth-of-type(3){
								padding-right: 1px;
							}
							li:nth-of-type(6){
								padding-right: 1px;
							}
							li:nth-of-type(7){
								padding-right: 1px;
							}
						}
					}
				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 40px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//nineth



//tenth

			section#tenth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color:#FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 80px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{
						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color:#FFF;
					}

				}
			}//zero-divsion


		
			section#eleventh-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 60px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//eleventh

			section#twelveth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 30px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//zero-divsion

		
			section#thirteenth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 80px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//thirteenth


//forteenth

			section#forteenth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(60%);
					filter:brightness(60%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color:#FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 70px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color:#FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//zero-divsion


//fifteenth

		
			section#fifteenth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(90%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}
					.top02-image{
						margin-left: -40px;

						img{
							margin-top: -4px;
						}
						ul{
							list-style-type: none;
							li{
								float: left;
							}
							li:nth-of-type(1){
								padding-right: 1px;
							}

							li:nth-of-type(2){
								padding-right: 1px;
								//margin-left: -1px;
							}
							li:nth-of-type(3){
								padding-right: 1px;
							}
							li:nth-of-type(6){
								padding-right: 1px;
							}
							li:nth-of-type(7){
								padding-right: 1px;
							}
						}
					}
				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 80px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//fifteenth



//fifteenth



			section#sixteenth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(90%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 80px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//zero-divsion


		


//seventeenth
			section#seventeenth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(80%);
					filter:brightness(80%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}
					.top02-image{
						margin-left: -40px;

						img{
							margin-top: -4px;
						}
						ul{
							list-style-type: none;
							li{
								float: left;
							}
							li:nth-of-type(1){
								padding-right: 1px;
							}

							li:nth-of-type(2){
								padding-right: 1px;
								//margin-left: -1px;
							}
							li:nth-of-type(3){
								padding-right: 1px;
							}
							li:nth-of-type(6){
								padding-right: 1px;
							}
							li:nth-of-type(7){
								padding-right: 1px;
							}
						}
					}
				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 70px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//sixteenth





//eighteenth

			section#eighteenth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(70%);
					filter:brightness(70%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 70px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//zero-divsion





//nineteenth
		
			section#nineteenth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}
					.top02-image{
						margin-left: -40px;

						img{
							margin-top: -4px;
						}
						ul{
							list-style-type: none;
							li{
								float: left;
							}
							li:nth-of-type(1){
								padding-right: 1px;
							}

							li:nth-of-type(2){
								padding-right: 1px;
								//margin-left: -1px;
							}
							li:nth-of-type(3){
								padding-right: 1px;
							}
							li:nth-of-type(6){
								padding-right: 1px;
							}
							li:nth-of-type(7){
								padding-right: 1px;
							}
						}
					}
				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 60px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//nineteenth



//twentieth


			section#twentieth-division{
				height: 719px;
				.image-container{
					 -webkit-filter: brightness(90%);
					filter:brightness(100%);  
					float: left;
					width: 780px;
					margin-bottom: -4px;

					.sub-image{
						margin-top:-4px;
						margin-left:-40px;
						list-style-type: none;

						li{
							float: left;
						}

						li:nth-of-type(1){
							margin-right: 1px;
						}
						li:nth-of-type(2){
							margin-right: -1px;

						}
						/*li:nth-of-type(3){
							margin-right: -1px;
						}*/
					}

				}
				.right-message{
					font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
					width: 1000px;
					float: left;
					color: #FFF;
					position: absolute;
					right: 0;
					margin-left: 25px;
					font-size: 13px;
					margin-top: 80px;

					.right-message-title{
						font-size: 70px;
						//font-weight: bold;
						//margin-bottom: 30px;
						.year{
	
							font-size: 25px;
							margin-top: -12px;
							margin-bottom: 20px;
						}

					}

					.right-keyword{

						font-size: 17px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					.abust{
						font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
						width: 800px;
						font-size: 15px;
						line-height: 1.4;
						margin-bottom: 40px;
						text-align: justify;
					}

					
					.link a{

						font-size: 26px;
						text-decoration: none;
						color: #FFF;
					}

					.link a:hover{
						color: #FFF;
					}

				}
			}//zero-divsion

		
		}
	}
}


//gloabal

.ja{
	font-family : YuMincho, '游明朝', serif;
	line-height: 1.4;
}

img.lazy{
	width: 1080px;
	height: 719px;
}